<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:800px;
    }
      body {background:Black;
    }
      form{color:Magenta; margin-left:600px; border: 5px solid red;margin-right: 550px;
    }
      img{float: right; margin-right: 100px;
    }
    </style>
    <img src="https://image.freepik.com/free-photo/empty-light-blue-studio-room-futuristic-sci-fi-big-hall-room-with-lights-blue_41470-389.jpg" alt="room white
    " style="width:500px">
  <h2>You wake up in a cold and dark metal room. You hear a robotic voice in your head start speaking.<br>
    ????:My name is Susie and I'm your overseer from today on. What's an overseer? Well I'm basically an AI that watches your every move, and I will give you tasks to complete.<br>
    Susie: If you fail to complete your tasks, a family member will be executed. Now then, your first task is to kill this old man, there's an army standard issue laser gun on the floor behind you.<br>
    The lights turn on and you see a man on his knees, blindfolded, his mouth gagged, and his hands tied behind his back, you pick up the gun.
    <br><br><br>
  </h2>
  <form action="/continue1" method="post">
    <input type="Radio" name="choice" value="Choice A">Shoot him in the head, a quick and painless death.<br>
    <input type="Radio" name="choice" value="Choice B">Ask for his last words.<br>
    <input type="Radio" name="choice" value="Choice C">Refuse.<br> <br>
    <input type="Submit">
  </body>
</html>
