<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:Magenta; margin-left:600px;
    }
    </style>
  <h2>Once you arrive at the transport station, you notice a T-card on the floor, you check it's balance and see that it's an unlimited travel T-card.<br>
      A few moments later you hear a woman asking people desperately if they've seen her T-card, the one you presume that you picked up.<br>
    <br><br><br>
  </h2>
  <form action="/continue2" method="post">
    <input type="Radio" name="choice" value="Choice A">Use the card and head to sector D-4.<br>
    <input type="Radio" name="choice" value="Choice B">Lie to her about having it.<br>
    <input type="Radio" name="choice" value="Choice C">Return her T-card.<br>
    <input type="Submit">
  </body>
</html>
