<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:Magenta; margin-left:600px;
    }
    </style>
  <h2>Susie: We recently bought the rights to the land in sector D-4, known as the Ghettos, we plan on building a new complex there yet the people are refusing to leave.<br>
      Susie: We need you to remove them as soon as possible, but we also don't to create a uproar so try and deal with it quietly.
  <br><br><br>
  </h2>
  <form action="/continue3" method="post">
    <input type="Radio" name="choice" value="Choice A">Kill them all.<br>
    <input type="Radio" name="choice" value="Choice B">Kill a few to make a statement.<br>
    <input type="Radio" name="choice" value="Choice C">Only threaten them with the gun.<br>
    <input type="Submit">
  </body>
</html>
