<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:800px;
    }
      body {background:Black;
    }
      form{color:Magenta; margin-left:600px; border: 5px solid red;margin-right: 550px;
    }
    img{float: right; margin-right: 100px;
    }
    </style>
    <img src="https://imgflip.com/s/meme/Blank-Nut-Button.jpg" alt="fall out" style="width:400px;">
  <h2>You follow Susie's instructions and meet an android standing on a balcony over a group of a poor and angry mob. <br>
      Susie: These are disarmed revolutionaries, they threaten the securtiy and future of the company, and need to be rid of.<br>
      Susie: Press the button and show fealty to the company, you will be rewarded with a high rank in the company, which obviously comes with it's own rewards and perks.
  <br><br><br>
  </h2>
  <form action="/continue4" method="post">
    <input type="Radio" name="choice" value="Choice A">Press the button.<br>
    <input type="Radio" name="choice" value="Choice B">Don't press the button.<br><br>
    <input type="Submit">
  </body>
</html>
