<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>Susie: Well, that's disappointing. Your sister is now a pile of ashes.<br>
      The light that was illuminating the room suddenly focuses on the old man and moments later he was reduced to ashes<br>
      Susie:Now he is too.Unlike her however, he was a an important officer of the revolutionaries called the Vox Populi, your next task is in sector D-4, the ghettos.<br>
      Susie:Don't disappoint me this time.
    <br><br><br>
  </h2>
  <form action="/act2" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
