<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>Susie pushes you over the ledge and you barely manage to catch on with one hand.<br>
      Susie: You have gone against the company's wishes one too many times, and we cannot take anymore involvement with you, goodbye.
      She pushes you off the ledge and you fall in the middle of the mob. You look up to see her press the button, moments later you hear the hum of a laser weapon and all is reduced to ashes, along with you...
    <br><br><br>
  </h2>
  <form action="/" method="get">
    <br>Replay? <input type="Submit">
  </form>
  </body>
</html>
