<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>Susie: How sweet of you, but refrain from that in the future, it makes you more likely to be attached to them.<br>
      Susie: Your next task will take place in sector D-4, the slums. You'll receive more insturctions on site.
    <br><br><br>
  </h2>
  <form action="/act2" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
