<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>You hesitate to press the button, but the rewards sound too good, so you press it.<br>
      Susie: Oh, you actually pressed it, yet you hesitated, and that's not good, we can't have someone like that in the company. You will be rewarded, but not as dearly. Also your involvement with the company is hereby terminated, you are to speak about your involvement with anyone, and don't even think of trying, remeber, I'm always watching.
      The android then pulls out a laser pistol and disintegrates itself, you somehow doubt that Susie is gone though...
    <br><br><br>
  </h2>
  <br><br><br>
  <form action="/Begin" method="post">
    <br>Replay? <input type="Submit">
  </form>
  </body>
</html>
