<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2> She walked up to you and you lied about having her card, you feel a bit bad about it, but you need it to make your life better.
    <br><br><br>
  </h2>
  <form action="/act3" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
