<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>Susie: Not only did they not leave, but they talked about your fruitless attempts at evicting them and the governments' reputation fell.<br>
      Susie: Well, you really failed that, we had to send in a squad to clean them up afterwards, but the rumors already spread and now we're the laughing stock. Good job...
    <br><br><br>
  </h2>
  <form action="/act4" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
