<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>You continue on with your life, with your brand new unlimited T-card, things are goign to be a bit easier form now on.<br>
    <br><br><br>
  </h2>
  <form action="/act3" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
