<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>Susie: Good job, I had not expected you to have followed orders, I'm glad. That man was a spy for the revolutionary currently known as the Vox Populi.
    For your next task<br>
    A door appears in the wall<br>
    Susie: For your next task you'll need to head to sector D-4, the ghettos. You will recieve further instuction on site.
    <br><br><br>
  </h2>
  <form action="/act2" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
