<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>You press the button and almost immediately laser start firing upon the mob, not more than 10 seconds and they were all reduced to ashes.
      Susie: As expected of our top rookie. As promised, you will be rewarded dearly, we expect big things of you in our future, welcome to The Company.
    <br><br><br>
  </h2>
  <form action="/" method="get">
    <br>Replay? <input type="Submit">
  </form>
  </body>
</html>
