<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>Gather everyon in the center and execute the oldest person there, people start screaming and run back to their living spaces, it worked and they didn't all have to die, but it was not quiet.<br>
       Susie: Well they're gone now, but they also told everoyne they could about our forceful actions, our stocks plummeted a bit, but it shouldn't change much...
    <br><br><br>
  </h2>
  <br><br><br>
  <form action="/act4" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
