<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ttg</title>
  </head>
  <body>
    <style>
      h2 {text-align:left;
      color:Green; margin-right:700px;
    }
      body {background:Black;
    }
      form{color:magenta; margin-left:600px;
    }
    </style>
  <h2>You take care of them in the middle of the night, nothing more than the sound of grasshoppers were heard.<br>
      Susie: Good job, had you done that differently, our reputation would've taken a hit, I am pleased.
    <br><br><br>
  </h2>
  <form action="/act4" method="post">
    <br>Continue: <input type="Submit">
  </form>
  </body>
</html>
